		nav{
		background-color:green;
			text-align:center;
			color:white;
			font-size:20px;
			padding:20px;
		}
		section{
		border:2px solid black;
			height:50%;
		display:flex;
			width:100%;
		}
		artical{
			width:30%;
			margin:5px;
			padding:100px;
			text-align:center;
		}
	footer{
		background-color:blue;
			text-align:center;
			color:white;
			font-size:20px;
			padding:20px;
		}
		#id1{
		background-color:red;
			color:white	
		}
		#id2{
			margin-right:50px;
			margin-left:50px;
		background-color:green;
				color:white}
		#id3{
		background-color:orange;
				color:white
		}
		
